body{font:12px/1.5 Tahoma,Helvetica,Arial,'\5B8B\4F53',sans-serif;}
html,legend{color:#404040;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}h1{font-size:18px;}h2{font-size:16px;}h3{font-size:14px;}
q:before,q:after{content:'';}
abbr,acronym{border:none;font-variant:normal;}sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}
select,input,button,textarea{font:100% Tahoma,Helvetica,Arial,sans-serif;}
table{font-size:inherit;font:100%;}a{color:#36c;text-decoration:none;}a:hover{color:#f60;text-decoration:underline;}
.long-btn{width:100px;height:25px;line-height:25px;background:url(/static/img/btn_bg.png) no-repeat scroll 0 -300px;font-size:12px;border:medium none;color:#FFF;cursor:pointer;display:inline-block;font-weight:bold;text-align:center;}a.long-btn:hover{color:#fff;}.clearfix:after{content:'\0020';display:block;height:0;clear:both;}.clearfix{zoom:1;}#footer{border-top:1px solid #D1D7DC;clear:both;margin:10px auto;text-align:center;padding-top:10px;}#footer .foot-nav{display:block;height:20px;margin:0 auto 0;}#footer .foot-nav a{margin:0 7px;}#footer .ali-group{margin:5px auto;}#footer .ali-group a{margin:0 1px;}#footer .copyright{clear:both;margin:15px auto 0;}#server-num{color:#FFF;font-size:11px;}#page,#page3{width:950px;margin-left:auto;margin-right:auto;}.login-box .msg p.error{background:url(../img/stuff.png) no-repeat -319px -449px #FFF2F2;border-color:#FF8080;line-height:18px;padding:2px 10px 2px 23px;}.login-box .msg p{border:1px solid #ccc;float:none;white-space:normal;word-wrap:break-word;}body{background-image:none;}#header{padding-top:0;}#logo{padding:20px 0 0 52px;}.login{position:relative;}.login-bg{position:absolute;width:663px;
height:400px;overflow:hidden;left:0;top:0;
}.login-box{position:relative;width:327px;_height:304px;min-height:304px;padding:48px 0 48px 490px;z-index:1;}.login-box .hd{height:36px;background:url(../img/box_bg.png) no-repeat 325px 0;}.login-box .hd li{float:left;width:163px;height:36px;margin-right:-1px;}.login-box .hd h2,.login-box .hd a{display:block;height:36px;overflow:hidden;text-indent:45px;background:url(../img/box_bg.png) no-repeat -400px 0;}.login-box .hd h2{position:relative;line-height:38px;font-size:14px;color:#000;z-index:1;cursor:default;}.login-box .hd a{line-height:36px;font-size:12px;font-weight:bold;text-decoration:none;color:#999;background-position:-10px 0;}.login-box .hd a:hover{background-position:-200px 0;color:#000;}.login-box .bd{padding:0 6px 0 4px;background:url(../img/box_bg.png) repeat-y -600px 0;}.login-box .bd .taobao-box,.login-box .bd .alipay-box{padding:10px 0;background:#fafafa url(../img/box_bg.png) no-repeat -604px 0;zoom:1;}.login-box .bd .alipay-box{padding-bottom:20px;}.login-box #J_Mobile{margin-bottom:10px;}
.login-box .field{padding-top:12px;zoom:1;}
.login-box .field label{display:inline-block;width:66px;padding-right:10px;text-align:right;}
.login-box .login-text{height:18px;width:180px;line-height:18px;margin-right:3px;padding:3px;border:solid 1px #c8c8c8;vertical-align:middle;}
 .login-box .login-code{height:18px;width:130px;line-height:18px;margin-right:3px;padding:3px;border:solid 1px #c8c8c8;vertical-align:middle;}
.login-box .login-text{margin-left:-2px;}
.login-box input.tb-input-hint{color:Silver;}
.login-box .password-edit{display:inline-block;height:28px;overflow:hidden;margin-left:-1px;margin-left:-3px;_margin-left:-1px;vertical-align:middle;}
#J_StandardPwd{display:inline-block;height:28px;vertical-align:middle;}
.login-box .password-edit-tmp{display:block;width:0;height:0;overflow:hidden;}
.J_CheckCode{ime-mode:disabled;}
.login-box .mobile-num{background:#fff url(../img/stuff.png) no-repeat 164px -164px;}
.login-box .mobile-check{width:80px;}
.login-box .checkcode{width:100px;}
.login-box .only_img_code .checkcode{width:40px;margin-right:1px;}
.login-box .audio_code{display:inline-block;zoom:1;display:inline;width:16px;height:16px;vertical-align:middle;}
.login-box .field .warning-tip{display:block;padding:5px 0 0 92px;color:#ff0a0a;font-weight:400;}
.login-box .highlight{border:solid 1px #f63;}.login-box .code-tip{display:block;padding:5px 0 2px 92px;}
.login-box .change-code{display:inline-block;line-height:14px;margin:0;vertical-align:middle;}
.login-box .check-code-img{border:none; vertical-align:middle;margin-right:1px;}
.login-box .field .select-wrap{display:inline-block;position:relative;width:180px;height:24px;border:solid 1px #c8c8c8;vertical-align:middle;background:#fff;}
.login-box .field .select-wrap{margin-left:-2px;}
.login-box .field select{position:absolute;width:176px;height:20px;line-height:20px;border:0;clip:rect(1px 175px 19px 1px);left:2px;top:2px;outline:none;}
.login-box .tip{color:#808080;}
.login-box .submit{padding:5px 0 0 80px;overflow:hidden;clear:both;zoom:1;}
.login-box .submit-loading{background:url(../img/loading.gif) no-repeat 62px 20px;}
.login-box .submit button{width:86px;height:27px;margin-right:6px;border:0;text-indent:-9999px;overflow:hidden;vertical-align:middle;text-indent:0;line-height:100px;font-size:0;background:url(../img/stuff.png) no-repeat 0 -100px;cursor:pointer;zoom:1;}
.login-box .submit button:hover,.login-submit button.hover{background-position:-128px -100px;}
.login-box .submit-loading button{background-position:-253px -100px;}
.login-box .safe{height:56px;}
.login-box .safe,.login-box .submit{overflow:hidden;padding:4px 0 0 80px;}
.login-box .safe input{margin-right:3px;vertical-align:middle;}
.login-box .safe label{vertical-align:middle;color:#aaa;}
.login-box ul.entries{height:18px;margin:10px 20px 0 24px;padding-left:48px;padding-top:8px;background:url(../img/stuff.png) repeat-x 0 -258px;}
.login-box ul.entries li{float:left;padding:0 10px;word-break:keep-all;background:url(../img/stuff.png) no-repeat -337px -225px;}
.login-box ul.entries .dynamic-pwd,.login-box ul.entries .static-pwd{padding-left:23px;}
.login-box ul.entries .dynamic-pwd{background-position:-321px -196px;}
.login-box ul.entries .static-pwd{background-position:-321px -165px;}
.login-box ul.entries a{color:#808080;}
.login-box ul.entries a:hover{color:#f60;}
.login-box .forget-pw{line-height:26px;}
.login-box .forget-pw:hover{color:#f60;}
.login-box .ft{height:6px;font-size:0;background:url(../img/box_bg.png) no-repeat -950px bottom;}
.login-box .msg{width:278px;margin-left:20px;overflow:hidden;}
.login-box .msg p{float:none;white-space:normal;word-wrap:break-word;}
.login-box .msg p.error{background-image:url(../img/stuff.png);background-position:-319px -449px;}
